<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.healthsaas.zewals">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        tools:replace="android:name,android:label"
        android:name=".ZewaLSApp"
        android:allowBackup="true"
        android:icon="@drawable/mhclogo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Holo.Light"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ZewaLSManager"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".ZewaLSNfcEventBR"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="archer.android.nfc.action.TAG_DISCOVERED" />
                <action android:name="archer.android.nfc.action.TECH_DISCOVERED" />
                <action android:name="archer.android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="com.healthsaas.BLE_SCAN_COUNT_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ZewaLSBTEventBR"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ZewaLSBootCompleteBR"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>


    </application>

</manifest>