<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.healthsaas.edge">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@drawable/hs_icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >

        <activity
            android:name="net.healthsaas.edge.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <receiver android:name="net.healthsaas.edge.safeBR"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.healthsaas.safe.STATUS_UPDATE" />
                <action android:name="com.healthsaas.safe.DEVICE_COUNT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>